<%= link_to 'Back',theater_path(@movie.theater), class: "btn btn-primary" %>
<div class="container h-100">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">  
            <div class="card_height">
				
           		<h2>movie name:</h2>
				<p><%= @movie.name %></p>
				<h2>theater name</h2>
				<p><%= @movie.theater.name %></p>
				<div class="theater_view">
					<% if @movie.timings.present? %>
						<% @movie.timings.each do |t| %>
						<h2>timing</h2>
							<span><%= t.start_time.strftime("%H:%M %p" )%></span>
						<% end %>
					<% end %>
				</div>
				<div>
					<% if @movie.pictures.present? %>
					<div class="row">
						<% @movie.pictures.each do |pic| %>
							<div class= "col-md-3">
								<h2>images</h2>
							<div><%= image_tag(pic.image.url, height: "200px", width: "200px")%></div>
							<span><%= link_to 'Delete' , movie_picture_path(@movie,pic) , class: "btn btn-success" %></span>
							</div>
					
					<% end %>
				</div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>